.navbar { background-color: #5755d9; padding: 0.5em 1em 0.5em 1em; }
.navbar .navbar-brand {
  color: #fff;
  font-weight: bold;
}
.avatar img {
  border-radius: 5px 5px 5px 5px;
  background: #fff;
}
#toastcontainer {
  position:fixed;
  bottom:8px;left:0px;right:0px;
  z-index: 100;
}
.hero {
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align:center;
}
.chip {
  cursor: pointer;
}
.filter-nav {
  display: inline-block;
}
.device-nav {
  display: inline-block;
}
.sort-nav {
  float: right;
}
.tile-content { position: relative; }
.link-github {
  position:absolute;
  top: 36px;
  left: -24px;
}
.btn.btn-favourite { color: red; }
.btn.btn-favourite:hover { color: red; }

.icon.icon-emulator { text-indent: 0px; } /*override spectre*/
.icon.icon-emulator::before {
  content: "\01F5B5";
}
.icon.icon-favourite { text-indent: 0px; } /*override spectre*/
.icon.icon-favourite::before {
  content: "\02661"; /* 0x2661 = empty heart; 0x2606 = empty star */
}
.icon.icon-favourite-active::before {
  content: "\02665"; /* 0x2665 = solid heart; 0x2605 = solid star  */
}
.icon.icon-interface {text-indent: 0px;font-size: 130%;vertical-align: -30%;} /*override spectre*/
.icon.icon-interface::before {
  content: "\01F5AB";
}
