[submodule "EspruinoAppLoaderCore"]
	path = core
	url = https://github.com/espruino/EspruinoAppLoaderCore.git
[submodule "webtools"]
	path = webtools
	url = https://github.com/espruino/EspruinoWebTools.git
