.data {
    border-bottom: #838383 solid 2px;
    border-top: #838383 solid 2px;
    width: 50%;
    position: absolute;
    top: 50%;
}

#map {
    height: 50%;
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

#inputDiv {
    position: absolute;
    top: calc(50% + 100px);
}
